<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SAVEETHA ENGINEERING COLLEGE</title>
</head>

<body>


    <div class="jumbotron text-center">
        <div class="jumbotron" style="background-color:#FF7EFD;">
            <div style="background-color: #508EC3;">
                <div class="container">
                    <h1 class="display-4">EVENT REGISTRATION </h1>
                    <p class="lead">WELCOME TO SAVEETHA ENGINEERING EVENT</p>
                    <hr class="my-4">
                    <p>DEPARTMENT OF ARTIFICAL INTELLIGENCE AND DATA SCIENCE</p>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center"> WELCOME TO SAVEETHA ENGINEERING EVENT REGISTRATION</h1>
                        <div class="container text-center">

                            <div class="container text-center">
                                <div class="card-body">
                                    <p class="display-5"> DATE : 22th JULY 2021 <br> TIME :10 am<br>VENUE : SAVEETHA
                                        ENGINEERING COLLEGE<br>
                                        REGISTERATION FEE : 500 Rs<br> </p>
                                    <hr class="my-4">
                                    <p class="lead">
                                </div>
                                <div class="col-12 text-center">
                                    <a href="/register/" class="btn btn-primary btn-lg active"
                                        role="button">register</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>

                    <div class="footer text-center">
                        <b>Copyright © 2021 Saveetha Engineering Event , Developed by PRIYADARSHINI</b>
                    </div>

                </div>
            </div>
</body>

</html>