<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SAVEETHA ENGINEERING COLLEGE</title>
</head>

<body>

    <div class="jumbotron">
        <div class="jumbotron" style="background-color:#FF7EFD;">
            <div style="background-color: #508EC3;">
        <div class="container text-center">
            <h1 class="display-4">EVENT REGISTRATION </h1>
            <p class="lead">WELCOME TO SAVEETHA ENGINEERING EVENT</p>
            <hr class="my-4">
            <p>DEPARTMENT OF ARTIFICAL INTELLIGENCE AND DATA SCIENCE</p>
        </div>
    

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE</th>
                        <th scope="col">INSTITUTION</th>
                        <th scope="col">INTEREST</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>KAMAL</td>
                        <td>kamal@gmail.com</td>
                        <td>9876543210</td>
                        <td>SAVEETHA</td>
                        <td>FOOTBALL</td>
                    </tr>

                    <tr>
                        <td>RAJA</td>
                        <td>raja@gmail.com</td>
                        <td>8965210843</td>
                        <td>SAVEETHA</td>
                        <td>VOLLEY BALL</td>
                    </tr>

                    <tr>
                        <td>OTTO</td>
                        <td>otto@gmail.com</td>
                        <td>8867001234</td>
                        <td>RAJALAKSHMI</td>
                        <td>BASKET BALL</td>
                    </tr>

                    <tr>
                        <td>RAJU</td>
                        <td>raju@gmail.com</td>
                        <td>9986782989</td>
                        <td>PANIMALAR</td>
                        <td>SOFTBALL</td>
                    </tr>

                    <tr>
                        <td>JOHN</td>
                        <td>john@gmail.com</td>
                        <td>9865676085</td>
                        <td>SAIRAM</td>
                        <td>RUNNING</td>
                    </tr>

                    <tr>
                        <td>RAMYA</td>                                                                                                                                                                            n  </td>
                        <td>ramya@gmail.com</td>
                        <td>7904655740</td>
                        <td>SANKARA</td>
                        <td>THROW BALL</td>
                    </tr>

                    <tr>
                        <td>RAHUL</td>
                        <td>rahul@gmail.com</td>
                        <td>8796001523</td>
                        <td>RAJALAKSHMI</td>
                        <td>KABADI</td>
                    </tr>

                    <tr>
                        <td>SAFA</td>
                        <td>safa@gmail.com</td>
                        <td>7723092310</td>
                        <td>SAVEETHA</td>
                        <td>THROW BALL</td>
                    </tr>

                    <tr>
                        <td>ASSA</td>
                        <td>assa@gmail.com</td>
                        <td>9087654321</td>
                        <td>RAMACHANDRA</td>
                        <td>RUNNING</td>
                    </tr>

                    <tr>
                        <td>SANJAY</td>
                        <td>sanjay@gmail.com</td>
                        <td>9087123453</td>
                        <td>RAMACHANDRA</td>
                        <td>THROW BALL</td>
                    </tr>

                    <tr>
                        <td>RAM</td>
                        <td>ram@gmail.com</td>
                        <td>9712345609</td>
                        <td>SAVEETHA</td>
                        <td>KHO-KHO</td>
                    </tr>

                    <tr>
                        <td>CHARU</td>
                        <td>charu@gmail.com</td>
                        <td>7734678901</td>
                        <td>SAIRAM</td>
                        <td>KHO-KHO</td>
                    </tr>

                    <tr>
                        <td>RAJALAKSHMI</td>
                        <td>rajalakshmi@gmail.com</td>
                        <td>8870904374</td>
                        <td>SAVEETHA</td>
                        <td>SOFTBALL</td>
                    </tr>

                    <tr>
                        <td>MADHU</td>
                        <td>madhu@gmail.com</td>
                        <td>7890123456</td>
                        <td>SRM</td>
                        <td>THROW BALL</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="/home/" class="btn btn-primary btn-lg" role="button">Home</a>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <div class="footer  text-center">
        <b>Copyright © 2021 Saveetha Engineering Event , Developed by PRIYADARSHINI</b>
    </div>
    
    </div>
    </div>
</body>

</html>